<header class="page-header">
<h1> About Us</h1>
</header>

<p>
Donec sed mi at nisl maximus bibendum sit amet ut nisl. Pellentesque eros est, feugiat vel auctor non, varius ac leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed maximus, felis eget venenatis ultrices, lectus libero laoreet metus, eget ultrices ex magna vitae justo. Mauris faucibus dictum congue. Cras sodales mi eu libero dignissim lobortis ut venenatis metus. Mauris ac metus at nibh cursus efficitur ut non velit. In placerat laoreet nisi, nec imperdiet tortor efficitur ut. Proin placerat volutpat tellus ac tempus.

Phasellus finibus risus eget mi facilisis, in pellentesque libero placerat. Aliquam suscipit nisi ante, eu condimentum enim ornare eget. Nulla aliquam ultrices velit sit amet rhoncus. Praesent in tortor tincidunt sem eleifend ullamcorper. Mauris pulvinar molestie magna, nec placerat diam venenatis quis. Donec lacinia massa id semper maximus. Curabitur at porta risus. Pellentesque dignissim vitae risus in venenatis.

Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ultrices, metus non iaculis fermentum, lorem ipsum blandit nulla, quis hendrerit metus metus a enim. Maecenas pretium vestibulum sem et molestie. Pellentesque a tellus condimentum ante ullamcorper vestibulum. Nam condimentum eros magna, a venenatis risus cursus ac. Duis quis elementum enim. Donec at tellus a massa dignissim varius ut et orci. Sed dictum metus ac quam mattis sollicitudin. Sed feugiat dolor et ante ultrices, in gravida quam dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
</p>

<div class = "text-center">
<%= image_tag "Steve-Brule.jpg" %>
</div>